{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="main_text">
  <h1>Оценка стоимости квартиры</h1>
  <h2>Узнайте стоимость квартиры прямо сейчас</h2>
  <br>
  <div class="d_form">
    <form action="{% url 'main_page' %}" method="post">
      {% csrf_token %}

       <div style="display:inline-block; " class="form_row">
        <label for="{{ form.phone_number.id_for_label }}"></label>
        {{ form.phone_number }}
       </div>

      <div style="display:inline-block;" class="form_row">
        <label for="{{ form.email.id_for_label }}"></label>
        {{ form.email }}
       </div>

      <div class="form_row">
        <label for="{{ form.first_name.id_for_label }}"></label>
        {{ form.first_name }}
       </div>

      <div style="display:inline-block;" class="form_row">
        <label for="{{ form.floor.id_for_label }}"></label>
        {{ form.floor }}
       </div>

      <div style="display:inline-block;" class="form_row">
        <label for="{{ form.floor_count.id_for_label }}"></label>
        {{ form.floor_count }}
       </div>

      <div class="form_row">
        <label for="{{ form.year_of_construction.id_for_label }}"></label>
        {{ form.year_of_construction }}
       </div>

      <div class="form_row">
        <label for="{{ form.rooms_count.id_for_label }}"></label>
        {{ form.rooms_count }}
       </div>

      <div class="form_row">
        <label for="{{ form.living_space.id_for_label }}"></label>
        {{ form.living_space }}
       </div>

      <div class="form_row">
        <label for="{{ form.metro.id_for_label }}"></label>
        {{ form.metro }}
       </div>

      <div class="form_row">
        <label for="{{ form.district.id_for_label }}"></label>
        {{ form.district }}
       </div>

      <button type="submit" id="submit" class="btn btn-primary btn-lg">
        Узнать стоимость квартиры
      </button>
    </form>
  </div>
</div>

<div class="modal fade" id="priceModal" tabindex="-1" aria-labelledby="priceModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="priceModalLabel">

        </h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
      </div>
      <div class="modal-body">
        <p id="priceValue"></p>
        <p id="priceValue2"></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
      </div>
    </div>
  </div>
</div>

<script>

  {% if score %}
  // Открываем модальное окно с рассчитанной ценой при наличии значения score
  let priceModal = new bootstrap.Modal(document.getElementById("priceModal"));

  let priceValue = document.getElementById("priceValue");
  priceValue.textContent = "Цена: " + "{{ score }}" + " ₽ за квадратный метр. Общая стоимость квартиры: " + "{{ full_price }}" + " ₽";

  priceModal.show();
  {% endif %}
</script>
{% endblock content %}