{% extends 'base.html' %}
{% load static %}
{% block content %}
<style>
    .slider-wrapper {
  width: 100%;
  height: 510px;
  overflow: hidden;
  border: 10px solid #fff;
  position: relative;
  margin-bottom: 40px;
}

.slider {
  width: 400%;
  height: 100%;
  display: flex;
  transition: all .6s ease;
}

.slides {
  width: 100%;
  height: 100%;
  display: flex;
  transition: all 2s ease;
  /* Удалите следующую строку для смещения слайдов */
  margin-left: 0;
}

.slide {
  width: 25%;
  flex-shrink: 0;
  height: 100%;
  margin-right: 10px;
}

.slide img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.navigation {
  position: absolute;
  bottom: 16px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
}

.bar {
  height: 8px;
  width: 30px;
  margin: 6px;
  cursor: pointer;
  background-color: #ddd;
  opacity: .7;
  border-radius: 10px;
  transition: all .4s ease;
}

.bar:hover {
  opacity: 1;
  transform: scale(1.1);
}

input[name="r"] {
  position: absolute;
  visibility: hidden;
}

.slides .slide {
  transition: margin 0.6s ease;
  /* Измените margin-left на margin */
  margin: 0;
}

#r1:checked ~ .slider .slide {
  margin-left: 0;
}

#r2:checked ~ .slider .slide {
  margin-left: -25%;
}

#r3:checked ~ .slider .slide {
  margin-left: -50%;
}

#r4:checked ~ .slider .slide {
  margin-left: -75%;
}


input[name="r"] {
    position:absolute;
    visibility:hidden;
}

</style>
 <div class="slider-wrapper">
     <div class="slider-container">
  <input type="radio" name="r" id="r1" checked>
  <input type="radio" name="r" id="r2">
  <input type="radio" name="r" id="r3">
  <input type="radio" name="r" id="r4">
    </div>
  <div class="slider">
  <div class="slides">
    <input type="radio" name="r" id="r1" checked>
    <div class="slide s1"><img src="{% static 'images/dom.jpg' %}" alt=""></div>

    <input type="radio" name="r" id="r2">
    <div class="slide s2"><img src="{% static 'images/dom2.jpg' %}" alt=""></div>

    <input type="radio" name="r" id="r3">
    <div class="slide s3"><img src="{% static 'images/dom3.jpg' %}" alt=""></div>

    <input type="radio" name="r" id="r4">
    <div class="slide s4"><img src="{% static 'images/dom4.jpg' %}" alt=""></div>
  </div>
  </div>

  <div class="navigation">
  <label for="r1" class="bar"></label>
  <label for="r2" class="bar"></label>
  <label for="r3" class="bar"></label>
  <label for="r4" class="bar"></label>
</div>
</div>

<div class="main_text">
<h1>Оценка стоимости квартиры</h1>
<h2>Введите параметры вашей квартиры</h2>
<br>
<p>Для начала введите номер телефона и вашу почту</p>
<br>
</div>
<div class="d_form">
<form method="post" enctype="multipart/form-data" action="calculate">
    {% csrf_token %}
    <div class="form_div"><label>Номер телефона</label></div><input name="phone_number" placeholder="+71234567890" type="tel" pattern="^\+?[1-9]\d{1,14}$" required><br><br>
    <div class="form_div"><label>Почта</label></div><input name="mail" type="email" placeholder="qwer@mail.ru"><br><br>
    <div class="form_div"><label>Имя</label></div><input name="name" type="text"><br><br>
    <div class="form_div"><label>Фамилия</label></div><input name="second_name" type="text"><br><br>
    <div class="form_div"><label>Этаж</label></div><input name="floor" type="text" value="1"><br><br>
    <div class="form_div"><label>Кол-во жилых комнат</label></div><input name="rooms_count" type="text" value="1"><br><br>
    <div class="form_div"><label>Площадь</label></div><input name="living_space" type="text" value="1"><br><br>
    <div class="form_div"><label>Год постройки</label></div><input name="year_of_construction" type="text" value="1"><br><br>
    <br>
    <input type="submit" value="Узнать">
    {% if error == False %}
    <p>Введите данные правильно</p>
    {% endif %}

    {% if score %}
    <p>Ваша квартира будет стоить {{score}} рублей</p>
    {% endif %}
</form>
</div>


<script>
const bars = document.querySelectorAll('.bar');
const slides = document.querySelector('.slides');
const slideWidth = slides.clientWidth / bars.length;

bars.forEach((bar, index) => {
  bar.addEventListener('click', () => {
    slides.style.marginLeft = `calc(-${index * slideWidth}px)`;
  });
});
</script>
{% endblock content %}
